@media (min-width: 641px) and (max-width: 1200px) {
    .header {
        background-image: url("../img/banner-bg-tablet.jpg");
        padding: 35px;
    }

    .header-logo {
        width: 52%;
    }

    .header-title {
        width: 90%;
        font-size: 3.07rem;
        line-height: 1.5;
        margin: 100px auto 60px;
    }

    .trend-title,
    .shop-title {
        margin-top: 50px;
        font-size: 1.38rem;
    }

    .trend-name,
    .post-list-title {
        font-size: 1.3rem;
    }

    .trend-content {
        padding: 25px;
    }

    .trend-box {
        flex-basis: calc((100%/2) - 2px);
        min-height: 246px;
    }

    .page-content {
        max-width: 700px;
        padding: 50px 0 0;
    }

    .post {
        width: 55%;
    }

    .post-list {
        flex-direction: column;
        gap: 15px;
        border-bottom: 3px solid #eeeeee;
        padding-bottom: 16px;
        margin-bottom: 41px;
    }

    .post-list:last-child {
        border-bottom: none;
    }

    .post-list-tag,
    .trend-tag {
        gap: 15px;
    }

    .post-list-info {
        margin-bottom: 30px;
    }

    .shop {
        max-width: 698px;
        padding: 0;
    }

    .shop-container {
        gap: 23px;
    }

    .shop-box {
        flex-basis: calc(50% - 23px);
    }

    .shop-box:nth-child(n+3) {
        margin-top: 30px;
    }

    .footer-container {
        margin-top: 65px;
    }

    .footer-copyright {
        margin-top: 50px;
    }

    .popup-title {
        font-size: 1.38rem;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .trend-box {
        flex-basis: calc((100%/4) - 3px);
        min-height: 246px;
    }
}

@media (max-width: 1200px) {

    /*бургер-меню*/
    .header-container {
        padding: 0;
    }

    .menu-list {
        display: none;
    }

    .menu-button__header {
        width: 1.3em;
        height: 1em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 20px;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
    }

    .menu-button__label {
        width: 100%;
        height: 15%;
        margin-top: -0.1em;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .menu-button__header::before,
    .menu-button__header::after {
        content: "";
        width: 100%;
        height: 15%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }

    .menu-button__header::before {
        top: 0;
    }

    .menu-button__header::after {
        bottom: 0;
    }
}

@media (max-width: 640px) {
    .header {
        background-image: url("../img/banner-mobile.jpg");
        padding: 0 15px;
        height: 96vh;
    }

    .header-logo {
        display: none;
    }

    .menu {
        margin-top: 30px;
    }

    .header-title {
        width: 90%;
        font-size: 2rem;
        margin: 165px auto;
        line-height: 1.5;
    }

    .header-title::before {
        content: url(../svg/noemi-logo.svg);
        display: block;
        padding: 0 20px 20px;
    }

    .trend-container {
        flex-direction: column;
    }

    .trend-box {
        flex-basis: 100%;
        min-height: 230px;
    }

    .trend-title {
        font-size: 1.23rem;
        margin-top: 45px;
    }

    .trend-content {
        padding: 20px;
    }

    .trend-name {
        line-height: 1.3;
    }

    .page-content {
        flex-direction: column;
        padding: 0 15px;
        margin-top: 50px;
        flex-basis: 100%;
    }

    .post {
        width: 100%;
    }

    .post-list {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 35px;
        border-bottom: 3px solid #eeeeee;
        padding-bottom: 16px;
    }

    .post-list-preview {
        width: 100%;
        height: auto;
    }

    .post-list-content {
        width: 100%;
    }

    .post-list-tag,
    .trend-tag {
        gap: 15px;
    }

    .trend-name,
    .post-list-title,
    .sidebar-title {
        font-size: 1.23rem;
    }

    .post-list-info {
        margin-bottom: 20px;
    }

    .post-list-text,
    .product-text {
        font-size: 1.07rem;
    }

    .sidebar {
        width: 100%;
        margin-top: 45px;
    }

    .sidebar-section {
        margin-bottom: 45px;
    }

    .aside-tag {
        justify-content: space-around;
    }

    .shop-title {
        margin-top: 0;
        font-size: 1.23rem;
    }

    .shop-container {
        flex-direction: column;
        gap: 45px;
    }

    .shop-box {
        flex-basis: 100%;
    }

    .product-name {
        font-size: 1.3rem;
    }

    .footer-container {
        margin-top: 60px;
    }

    .footer-copyright {
        margin-top: 45px;
    }

    .popup-content {
        width: 330px;
    }

    .popup-title {
        font-size: 1.23rem;
    }
}

@media (max-height: 600px) and (orientation: landscape) {
    .trend-box {
        flex-basis: calc((100%/2) - 2px);
    }
}