@font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: 700;
    src: url("../fonts/OpenSans-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page {
    font-family: OpenSans, sans-serif;
}

.header {
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #6d6c69;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 25px;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-logo {
    width: 60%;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
}

.menu-link {
    font-family: inherit;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
}

.header-title {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin: 100px auto;
    width: 42vw;
    line-height: 1.7;
}

.trend-title,
.shop-title {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
    font-weight: 700;
    font-size: 1.55rem;
    margin-top: 64px;
}

.trend-title::after,
.shop-title::after {
    content: "";
    background-color: #b59f5b;
    height: 3px;
    display: block;
    width: 66px;
    margin: 12px auto 22px;
    align-items: center;
}

.trend-container {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.trend-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-basis: calc((100%/4) - 3px);
    min-height: 320px;
    padding: 15px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #6d6c69;
    position: relative;
    z-index: 1;
}

.trend-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

.box1 {
    background-image: url(../img/trend1.jpg);
}

.box2 {
    background-image: url(../img/trend2.jpg);
}

.box3 {
    background-image: url(../img/trend3.jpg);
}

.box4 {
    background-image: url(../img/trend4.jpg);
}

.trend-content {
    border: 3px solid #b59f5b;
    padding: 30px;
}

.trend-name {
    display: block;
    text-transform: uppercase;
    font-family: inherit;
    color: #eeeeee;
    font-size: 1.55rem;
    font-weight: 700;
    margin-top: 6px;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 15px 0;
    justify-content: space-between;
}

.post {
    display: block;
    width: 65%;
}

.post-list {
    display: flex;
    margin-bottom: 60px;
    align-content: flex-start;
    gap: 30px;
}

.post-list:last-child {
    margin-bottom: 0;
}

.post-list-preview {
    width: 381px;
    height: 292px;
    display: flex;
    justify-content: center;
}

.post-list-img {
    max-width: 100%;
    height: auto;
}

.post-list-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 367px;
}

.post-list-tag,
.trend-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tag-link {
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-size: 1.07rem;
}

.post-list-title {
    display: block;
    text-transform: uppercase;
    margin: 6px 0 24px;
    font-family: inherit;
    color: inherit;
    font-size: 1.54rem;
    font-weight: 700;
    line-height: 1.3;
}

.post-list-info {
    display: flex;
    gap: 15px;
    margin-bottom: 44px;
}

.post-list-date {
    font-size: 12px;
}

.post-list-author {
    font-size: 12px;
    font-weight: 700;
}

.post-list-text,
.product-text {
    display: block;
    font-size: 1.15rem;
    line-height: 1.6;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 272px;
}

.sidebar-section {
    margin-bottom: 60px;
}

.sidebar-title {
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
    font-weight: 700;
    font-size: 1.07rem;
}

.sidebar-title::after {
    content: "";
    background-color: #b59f5b;
    height: 3px;
    display: block;
    width: 66px;
    margin: 12px auto 22px;
    align-items: center;
}

.sidebar-postlist {
    display: flex;
    width: 100%;
    gap: 16px;
    margin-bottom: 20px;
}

.sidebar-preview {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
}

.sidebar-img {
    max-width: 100%;
    height: auto;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 182px;
}

.sidebar-content-date {
    font-size: 12px;
}

.sidebar-content-name {
    font-size: 1.07rem;
    text-transform: uppercase;
    font-weight: 700;
    color: inherit;
}

h4 {
    line-height: 1.2;
}

.search-section {
    position: relative;
    margin-top: 58px;
}

.visually-hidden,
.radio {
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
    position: absolute;
}

.field-search {
    width: 100%;
    height: 48px;
    background: #f4f7f6;
    padding: 20px 0 20px 20px;
    padding-right: 70px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border: none;
    background: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center center;
    cursor: pointer;
}

.field-subscribe {
    width: 100%;
    height: 48px;
    background: #f4f7f6;
    padding: 20px;
    margin-bottom: 18px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
}

.subscribe-button,
.send-button {
    width: 100%;
    height: 48px;
    border: none;
    background: #b59f5b;
    color: #f4f7f6;
    cursor: pointer;
    font-size: 1.07rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
}

.aside-tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 5px;
}

.aside-tag-item {
    padding: 2px 14px;
    border: 3px solid #eeeeee;
}

.aside-tag-link {
    color: inherit;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.aside-categories-item {
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    padding-bottom: 10px;
}

.aside-categories-item:nth-child(n+2) {
    margin-top: 12px;
}

.aside-categories-link {
    color: inherit;
    font-size: 1.07rem;
    font-weight: 700;
}

.categories-degree {
    color: #b59f5b;
    font-weight: 700;
    font-size: 12px;
    vertical-align: super;
}

.shop {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

.shop-box {
    flex-basis: calc(100%/3 - 44px);
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.product-img {
    width: 100%;
}

.product-content {
    outline: 3px solid #b59f5b;
    outline-offset: 20px;
    padding-top: 30px;
    margin-top: -15px;
    flex-grow: 1;
}

.product-name {
    display: block;
    text-transform: uppercase;
    font-family: inherit;
    color: inherit;
    font-size: 1.55rem;
    font-weight: 700;
}

.product-text p {
    font-size: 1.15rem;
}

.text-link {
    color: #b59f5b;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.product-prices {
    display: flex;
    flex-direction: column;
}

.product-old-price {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}

.product-new-price {
    font-size: 20px;
    font-weight: 700;
}

.product-button {
    background-color: #b59f5b;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

.footer-container {
    display: block;
    max-width: 1200px;
    height: auto;
    margin: 84px auto 0;
    padding: 0 15px;
}

.articles-socials {
    background: #f4f7f6;
    padding: 30px 0;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icon {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.social-icon_twitter {
    background-image: url(../svg/004-twitter.svg);
}

.social-icon_pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.social-icon_facebook {
    background-image: url(../svg/002-facebook-logo.svg);
}

.social-icon_instagram {
    background-image: url(../svg/005-instagram.svg);
}

.social-icon_tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.footer-copyright {
    display: block;
    font-family: inherit;
    color: #a9a9a9;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 74px;
    margin-bottom: 40px;
    text-align: center;
}

.popup_hidden {
    visibility: hidden;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    box-sizing: border-box;
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    position: relative;
}

.popup-content::before {
    content: url(../svg/form-x.svg);
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5%;
    right: 0;
}

.popup-title {
    display: block;
    font-size: 1.54rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.popup-title::after {
    content: "";
    background-color: #b59f5b;
    height: 3px;
    display: block;
    width: 66px;
    margin: 12px auto 28px;
    align-items: center;
}

.form-row {
    display: block;
    margin: 0 auto;
    margin-bottom: 28px;
    width: 100%;
}

.form-hint {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.select-freq {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    color: #a9a9a9;
    padding: 15px 20px;
    background-color: #f4f7f6;
    border: none;
    display: inline-block;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.field-feedback {
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
    background-color: #f4f7f6;
    border: none;
    padding: 20px;
}

.radio-group {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}

.radio-group:last-child {
    margin-left: 15px;
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.radio:checked~.radio-group-text::before {
    background-image: url(../svg/form-circle.svg);
}